body{
        background-color: #fdfdfd;
        color: #2e2e2e;
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 28px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
div.post{
        border: 1px;
        background-color: #fff;
        max-width: 640px;
        width: 96%;
        padding: 2%;
        margin: auto;
}
div.content {
    min-height: 760px;
    height: auto;
}
ul.navigation{
    list-syle-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
}
ul.navigation li {
    display: inline;
    float: left;
    border-right: 1px solid #bbb; 
}

ul.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    text-decoration: blink;
}
a:hover{
    color: red;
}

.active {
    background-color: #4CAF50;
}
.active_r{
    background-color: #4CAF50;
    text-align: right;
}
#footer {
    color:grey;
    clear:both;
    text-align:center;
    padding: 5px;
}
#footer2 {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
.login{
    color:black;
    position:fixed;
    text-align:center;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; 
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
.pos_div{
    border: 1px;
        background-color: #fff;
        max-width: 640px;
        width: 96%;
        padding: 2%;
        margin: auto;
}
.my_acc_form input:not([type=submit])
{
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}
div.my_acc_form{
    color:black;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; 
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
.contentf
{
    min-height:500px;
    min-width :1000px;
}
.contentf[placeholder] {
    line-height: 10px;
    font-size: 44px;
}
.titlef
{
    width:1000px;
}
.postfield *{
    vertical-align: middle;
}