{% load static from staticfiles %}
<html>
    <head>
        <ul class="navigation">
            <li><a class="active" href="{% url "index" %}">Home</a></li>
            <li><a class="active" href="contact.asp">Contact</a></li>
            <li style = "float:right;"><a class="active" href="about.asp">About</a></li>
            {%if reg or login %}
                <li style = "float:right;"><a class="active" href="{% url "logpage" %}">Login</a></li>
                <li style = "float:right;"><a class="active" href="{% url "regpage" %}">Register</a></li>
            {% else %}
                <li style = "float:right;"><a class="active" href="{% url "logout" %}">Logout</a></li>
                <li style = "floar:right;color:white">Welcome {{username}}</li>
            {% endif %}
            <form action="/search/" method="get">
                <input type="text" name="q">
                <input type="submit" value="Search">
            </form> 
        </ul>
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="content">{% block content %}{% endblock %}</div>
    </body>
    <div id="footer2">
        Copyright © Zeeshan
    </div>
</html>