{% load static from staticfiles %}
<html>
    <head>
        <ul class="navigation">
            <li><a class="active" href="{% url "index" %}">Home</a></li>
            <li><a class="active" href="contact.asp">Contact</a></li>
            <li style = "float:right;"><a class="active" href="about.asp">About</a></li>
            <li style = "floar:right;color:white">Welcome {{username}}</li>
            {%if notloggedin %}
                <li style = "float:right;"><a class="active" href="{% url "logpage" %}">Login</a></li>
                <li style = "float:right;"><a class="active" href="{% url "regpage" %}">Register</a></li>
            {% else %}
                <li style = "float:right;"><a class="active" href="{% url "post_form" %}">Post Request</a></li>
                <li style = "float:right;"><a class="active" href="{% url "logouts" %}">Logout</a></li>
                <li style = "float:right;"><a class="active" href="{% url "acc_page" %}">My Account</a></li>
            {% endif %}
            <li style = "float:right;"><form action="/search/" method="get">
                <input type="text" name="q">
                <input type="submit" value="Search">
            </form></li> 
        </ul>

        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="content">{% block content %}{% endblock %}</div>
    </body>
    <div id="footer2">
        Copyright © Zeeshan
    </div>
</html>