{% load static from staticfiles %}

<html>
    <head>
        <ul class="navigation">
            <li><a class="active" href="{% url "index" %}">Home</a></li>
            <li><a class="active" href="contact.asp">Contact</a></li>
            <li style = "floar:right;color:white;margin-left:20px;margin-top:15px;">Welcome {{username}}</li>
            {%if notloggedin %}
                <li style = "float:right;"><a class="active" href="{% url "logpage" %}">Login</a></li>
                <li style = "float:right;"><a class="active" href="{% url "regpage" %}">Register</a></li>
            {% else %}
                <li style = "float:right;"><a class="active" href="{% url "post_form" %}">Post Request</a></li>
                <li style = "float:right;"><a class="active" href="{% url "logouts" %}">Logout</a></li>
                <li style = "float:right;"><a class="active" href="{% url "acc_page" %}">My Account</a></li>
            {% endif %}
            <li style = "float:right;margin-right:20px;"><form style="margin-top:15px;" action="/search/" method="get">
                <input type="text" name="q">
                <input type="submit" value="Search">
            </form></li> 
        </ul>

        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <script src="{% static "js/jsscript.js" %}" type="text/javascript"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="content">{% block content %}{% endblock %}</div>
    </body>
    <div id="footer2">
        Copyright © <a href="https://www.facebook.com/zeeshan.2709" style ="color:white;">Zeeshan</a>
    </div>
</html>