{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock %}
     
{% block content %}
    
    <br><br><br><br>
    <div class = pos_div>
            <header>
                <h1> {{post.title}} </h1>  
            </header>
            <p style="font-size:120%;color:grey" class="description">{{post.description}}</p>{{post.content|safe}}
            <br><br><br>
            <input type="button" id="liking" value={{like}} ></input><span id = "number">&nbsp;&nbsp;{{no_likes}} </span>
             <div id="footer">Posted on <time datetime="{{post.created|date:"c"}}">{{post.created|date}}</time></div>
            <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    </div>
    {% verbatim %}
    <div ng-app="com_form" class="comment_field"><span> <h1><b>Leave Comments</b></h1>
        <div ng-controller="com_ctrl">
                <div class="comnt_form" ng-repeat="comm in myForm.comment"><b>{{comm.user}}:</b>  {{comm.comnt}} 
                    <span style="font-size:80%;color:grey;float:right;">~{{comm.tym}}<span>
                </div>
            <form class="comnt_form">
                <b>Comment: </b> <input type="text" id="comm" placeholder="Your Comment"></input>
                <button ng-click="myForm.submitTheForm()">comment</button>
            </form>
        </div>
    </div>
    {% endverbatim %}
<script>
$('#liking').on("click", function(){
    $.ajax({
        type: "POST",
        url: "{% url "liked" %}",
        data: {'slug': $(this).attr('slug'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
            k = document.getElementById("liking")
            if(k.value == "Like") {
                k.value = "Unlike";
            } else {
                k.value = "Like" ;
            }
            document.getElementById("number").innerHTML = response.likes;
        },
        error: function(rs, e) {
            alert(rs.responseText);
        }
    }); 
})
</script>
    <script>
        angular.module("com_form", []).controller("com_ctrl", function($scope) {
            $scope.myForm = {};
            $scope.myForm.comment=lookup();
            $scope.myForm.submitTheForm = function (){
                com = document.getElementById("comm").value;
                if(com==""){
                    alert("write something biatchh!!");
                } else {
                    document.getElementById("comm").value = "";
                    $.ajax({
                        type: "POST",
                        url: "{% url "comment" %}",
                        data: {'comment':com, 'slug': $(this).attr('slug'), 'csrfmiddlewaretoken': '{{csrf_token }}'},
                        dataType: "json",
                        success:function(){
                            alert("commented!!");
                            $scope.myForm.comment=lookup();
                            $scope.$digest();
                        }
                    });
                }
            };

        } );
        function lookup() {
            var result = [];
            var data = $.parseJSON($.ajax({
                type: "GET",
                url: "{% url "comment" %}",
                data: {'slug': $(this).attr('slug'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",async: false}).responseText);
            result = data;
            console.log(result);
            return result; 
        }
    </script>
       
{% endblock %}